{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
<form action = "#" method="post">
    <p>Corner One</p>
    <input type = "text" name = "x1" id = "x1" > <label for="x1"> X Coordinate </label>
    <input type = "text" name = "y1" id = "y1" > <label for="y1"> Y Coordinate </label>
    <br>
    <p>Corner Two</p>
    <input type = "text" name = "x2" id = "x2" > <label for="x2"> X Coordinate </label>
    <input type = "text" name = "y2" id = "y2" > <label for="y2"> Y Coordinate </label>
    <br>
    <p>Corner Three</p>
    <input type = "text" name = "x3" id = "x3" > <label for="x3"> X Coordinate </label>
    <input type = "text" name = "y3" id = "y3" > <label for="y3"> Y Coordinate </label>
    <br>
    <p>Corner Four</p>
    <input type = "text" name = "x4" id = "x4" > <label for="x4"> X Coordinate </label>
    <input type = "text" name = "y4" id = "y4" > <label for="y4"> Y Coordinate </label>
    <br>
<!--    <input type = "text" name = "y1" id = "y1" >-->
</form>

<p> <input type = "submit" value = "submit" > </p>
{% endblock %}