

<!DOCTYPE html>
{% extends "base.html" %}
<!--{% block title %}Login Page{% endblock %}-->
{% block content %}
<html>

<body>
<!--	<h1> Room Mapping  </h1>-->

	<!-- Entering the total number of rooms -->
	<form action = "#" method="post">
		<label for ="rnumbers" > Number of Rooms </label>
		<input type = "text" id = "rnumbers" name = "rn"> </input>
		<input type= "submit" value="Submit">
	</form>

</body>

{% endblock %}

	<!-- Selecting the type of room -->
<!--	<form>-->
<!--		Location Type: <br>-->
<!--		<input type = "radio"  name = "roomType" id = "fcorner"  value="fcorner">-->
<!--		<label for = "fcorner" > Four Corner Room </label> <br>-->
<!--		<input type = "radio" name = "roomType" id = "scorner" value="scorner" >-->
<!--		<label for = "scorner" > Six Corner Room </label> <br>-->
<!--	</form>-->




</body>

</html>