<!DOCTYPE html>
<html>
<head>
<title> Room Mapping </title>
</head>

<body>
	<h1> Room Mapping  </h1>

	<!-- Entering the room name -->
	<form>
		<label for ="rname" > Location Name </label>
		<input type = "text" id = "rname" name = "rname"> </input>
	</form>

	<!-- Selecting the type of room -->
	<form>
		Location Type: <br>
		<input type = "radio"  name = "roomType" id = "fcorner"  value="fcorner">
		<label for = "fcorner" > Four Corner Room </label> <br>
		<input type = "radio" name = "roomType" id = "scorner" value="scorner" >
		<label for = "scorner" > Six Corner Room </label> <br>
	</form>




</body>

</html>