{% extends "base.html" %}
{% block title %}Login Page{% endblock %}
{% block content %}
<form  style="margin-left: 20px;" action = "#" method="post">
		<p>Location Type:</p>
		<p><input type = "radio"  name = "roomType" id = "fcorner"  value="fcorner"><label for = "fcorner" style="margin-left: 5px;">  Four Corner Room </label> <br>
		<input type = "radio" name = "roomType" id = "scorner" value="scorner" ><label for = "scorner" style="margin-left: 5px;">  Six Corner Room </label> <br>
        <p> <input type = "submit" value = "Submit" > </p>
</form>
{% endblock %}